<!--
  Generated template for the MyOrders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="list-box"></ion-icon> &nbsp; My Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of orders">

   <ion-item>
     <h2>{{ item.customer }} - </h2>
     <p>{{ item.address }} ({{ item.status }})</p>
     <p>Confirmation#:</p>
     <p>{{ item.comfirm }}</p>
   </ion-item>
   <div padding>
    <button *ngFor="let l of item.link" ion-button (click)="linkexcute(l,item)" color="light" full>{{l.ref}}</button>
   </div>
 </ion-card>

</ion-content>
