<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="book"></ion-icon> &nbsp; Addresses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of data.getAddresses()">
   <ion-item>
     <h2>{{ item.address }} {{ item.city }}</h2>
     <p>{{ item.state }}, {{ item.zip }} </p>
     <button *ngFor="let l of item.link" (click)="linkexcute(l)" ion-button color="light" full>{{l.ref}}</button>
   </ion-item>

  </ion-card>
<div>
<button (click)="create()" ion-button full><ion-icon name="add"></ion-icon> &nbsp; Add Address</button>
</div>
</ion-content>
