<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="search"></ion-icon> &nbsp; Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-searchbar  primary [(ngModel)]="searchQuery" 
               show-cancel="true" 
               placeholder="Search"
               showCancelButton="true">
</ion-searchbar>
<div>
<button (click)="search()" ion-button full>
  <ion-icon name="search"></ion-icon> &nbsp; Search </button>
</div>

<!--<ion-list>
  <ion-list-header>Results {{result.searchterm}}</ion-list-header>
  <ion-item-group reorder="false">
    <ion-item *ngFor="let item of searchresults">-->

     <ion-card *ngFor="let item of searchresults">

  <ion-item>
    <h2>{{ item.name }} ({{ item.cost }} {{item.curcode}})</h2>
    <p>{{ item.partnerid }}</p>
     <button *ngFor="let l of item.link" (click)="linkexcute(l)" ion-button color="light" full>{{link(l)}}</button>
  </ion-item>

</ion-card>

   <!-- </ion-item>
  </ion-item-group>
</ion-list> -->

<!--<ion-list *ngFor="let data of displayData" no-lines>
<ion-card>
<ion-card-header>
    
</ion-card-header>
<ion-card-content>
   
</ion-card-content>
</ion-card>
</ion-list>-->
  
</ion-content>
