<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="!prodata.getLogin()">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
       <ion-icon name="{{p.icon}}"></ion-icon> &nbsp; {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="prodata.getLogin()">
      <button menuClose ion-item *ngFor="let p of getPages()" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> &nbsp; {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
